<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554531811428-4i1h6is8jp9l2d9cvg9o3ea5o34hv449.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554531811428-4i1h6is8jp9l2d9cvg9o3ea5o34hv449</string>
	<key>API_KEY</key>
	<string>AIzaSyB2L_IUaRuk9Dn4UoxI6qQgs53saa3F1zk</string>
	<key>GCM_SENDER_ID</key>
	<string>554531811428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mul.g0ldga</string>
	<key>PROJECT_ID</key>
	<string>app153-759d1</string>
	<key>STORAGE_BUCKET</key>
	<string>app153-759d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554531811428:ios:b74d7fd07b90b88d06ef71</string>
</dict>
</plist>